doctype html
html
  head
    link(rel="stylesheet", href="../style/success.css")
    title Succes login
  body
    include ./header.pug

    .container
      h2  Witaj 
        span #{user.displayName}!

    
        